body{
    background-color: rgb(245, 76, 104);
}
h1 {
    background-color: rgb(245, 76, 104);
    font-size: 40px;
    color: #fffaff;
    padding: 10px;
}

#content{
    background-color: white;
    width: 100%;
    height: 480px;
    border-radius: 20px;
}

#content .element{
    width: 33%;
    height: 90%;
    background-color: white;
    float: left ;
    margin: 1px;
    border-radius: 20px;
}

#content .element img{
    margin-left: 26%;
    margin-top: 10%;
    width: 300px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 15px;   
}



#content #cpu {
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

#content #cpu img {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 15px;  
}